@model IEnumerable<bookStore.Models.Book>

@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style>
    a{
        text-decoration:none !important;
    }
</style>
<h1>Listar</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container">
 

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Author</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Author)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>
                    @Html.ActionLink("Edit", "Editar", new { id = item.Id }, new { @class = "btn btn-primary" })
                    
                    
                      @Html.ActionLink("Delete", "Eliminar", new { id = item.Id }, new { @class = "btn btn-danger eliminar-btn", data_id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>

<script>
    $(document).ready(function () {
        $(".eliminar-btn").click(function (e) {
            e.preventDefault();
            var id = $(this).data("id");
            Swal.fire({
                title: 'Eliminar Registro',
                text: "¿Usted desea eliminar el registro?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    var url = '@Url.Action("Eliminar", "Book")/' + id;
                    $.ajax({
                        url: url,
                        type: 'POST',
                        success: function (r) {
                            console.log(r);
                            // Recargar la página después de la eliminación exitosa
                            location.reload();
                        },
                        error: function (xhr, status, error) {
                            console.log(xhr.responseText);
                            // Mostrar mensaje de error en caso de fallar la eliminación
                            Swal.fire('Error', 'Ha ocurrido un error al eliminar el registro', 'error');
                        }
                    });
                }
            });
        });
    });
</script>

